/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~nouislider/distribute/nouislider.min.css";
@import "src/app/colors/colors";
body{
  font-family: 'Roboto', sans-serif!important;
}
.router-outlet{
  min-height: 80vh!important;
}
a:hover{
  text-decoration: none;
}

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// -----Styles for svg editor-----

svg > .rect-table {
  fill: green;
  fill-opacity: 0.5;
  stroke: black;
  stroke-width: 1;
}

svg > .rect-table:hover {
  stroke-width: 2;
}

svg > .rect-table:active {
  fill-opacity: 0.8;
}

svg[isFree="false"] > .rect-table {
  fill: red;
  fill-opacity: 0.5;
  stroke: black;
  stroke-width: 1;
}

svg[isFree="false"] > .rect-table:hover {
  stroke-width: 1;
}

svg[isFree="false"] > .rect-table:active {
  fill-opacity: 0.5;
}

svg[isFree="loading"] > .rect-table {
  fill: gray;
  fill-opacity: 0.5;
  stroke: black;
  stroke-width: 1;
}

svg[isFree="loading"] > .rect-table:hover {
  stroke-width: 1;
}

svg[isFree="loading"] > .rect-table:active {
  fill-opacity: 0.5;
}

.rect-chair {
  fill: cornflowerblue;
  fill-opacity: 0.5;
  stroke: black;
  stroke-width: 1;
}

.table-text {
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}
// ------------------------
.noUi-connect {
  background: $blue !important;
}
.noUi-tooltip{
  background-color: transparent;
  color: #000;
  padding: 1px 1px;
  border-radius: 0;
  border: none;
  font-size: 14px;
}
/// Height of the slider's handle
/// @type String
$control-height: 20px;
/// Width of the slider's handle
/// @type String
$control-width: 40px;
/// Color of the slider's handle
/// @type Color
$control-color: rgb(94, 55, 142);
/// Size of the slider handle's text
/// @type String
$control-font-size: 18px;
/// Font Weight of the slider handle's text
/// @type String
$control-font-weight: 100;
/// Color of the slider's "fill" when connected
/// @type Color
$fill-color: darken($control-color, 10%);
/// Height of the slider's gutter
/// @type String
$gutter-height: 16px;


.noUi-base {

  /// noUiSlider Handle
  .noUi-handle {
    background-color: $blue;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    width: 10px;
    margin-left: 16px;
    margin-top: -5px;
    position: absolute;
    top:0;
    left: 0;
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}

