<nav class="navbar">

  <div id="nav_right_section" ng-init="loadData()">


    <!-- <div>{{receivedAnswer?.login}}</div> -->

    <button style="color: white" *ngIf=" receivedAnswer!==undefined && receivedAnswer!==null && receivedAnswer.login!=='anonymousUser' " mat-button [matMenuTriggerFor]="menu">{{receivedAnswer?.login}}</button>
    <mat-menu #menu="matMenu">

    </mat-menu>



  </div>
</nav>
