@import "src/app/colors/colors";
.statistics-block{
  margin-top: 50px;
  h3{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 3px solid $blue;
  }
}


.statistic-item{
  position: relative;
  margin-top: 20px;
  height: 250px;
  background-size: cover;

  h4{
    position: relative;
    top: 35%;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    transition-delay: .25s;
    -webkit-transition-delay: .25s;
  }

  p{
    position: relative;
    top: 45%;
    font-size: 12px;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    transition-delay: .25s;
    -webkit-transition-delay: .25s;
  }

  .caption{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    transition: all .45s ease-in-out;
    -webkit-transition: all .45s ease-in-out;
    height: 250px;
    width: 100%;
  }
  .caption-content{
    left: -300px;
    margin-top: 150px;
    transition: all .45s ease-in-out;
    -webkit-transition: all .45s ease-in-out;
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
    transition-delay: .15s;
    -webkit-transition-delay: .15s;

    a{
      display: inline-block;
      padding: 15px 60px 15px 60px;
      background-color: $blue;
      color: #fff;
    }
  }
}
.statistic-item:hover{

  h4{
    top: 20%;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
  }
  p{
    top: 30%;
  }

  .caption-content{
    color: #fff;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);

    a{
      cursor: pointer;
      color: #fff;
    }
  }
}


//For tree


.mat-accordion .mat-header-row {
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-bottom: none;
}

.mat-expansion-panel-header.mat-row {
  border-bottom: none;
}

//copied from https://github.com/angular/material2/blob/master/src/lib/table/table.scss
$mat-header-row-height: 56px;
$mat-row-height: 48px;
$mat-row-horizontal-padding: 24px;

.mat-table {
  display: block;
}

.mat-header-row {
  min-height: $mat-header-row-height;
}

.mat-row {
  min-height: $mat-row-height;
}

.mat-row, .mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  padding: 0 $mat-row-horizontal-padding;
  box-sizing: border-box;

  // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
  // element that will stretch the row the correct height. See:
  // https://connect.microsoft.com/IE/feedback/details/802625
  &::after {
    display: inline-block;
    min-height: inherit;
    content: '';
  }
}

.mat-cell, .mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}
