
<section class="statistics-block container">

  <div class="container">
    <div class="row" >
      <form (ngSubmit)="onSubmit()" #addElementForm="ngForm" enctype="multipart/form-data">
        <input type="text" class="form-control" placeholder="Название элемента" [(ngModel)]="tree.element" #element="ngModel" name="element" required ><br>

        <select *ngIf="isChecked==0" class="form-control"  name="category" (change)="selectChangeHandler($event.target.value)" required>
          <option   disabled selected>Выберите предка</option>
          <option *ngFor="let item of treeArray;" value={{item?.element}}>{{item?.element}}</option>

        </select><br>
        <input type="checkbox" placeholder="Без предка" class="form-control" (change)='onSelect($event)'>Без предка<br>
        <input type="submit" [disabled]="addElementForm.form.invalid" class=" form-control btn btn-primary btn-block" >

      </form>

      <br><br>


      <!--mat-expansion-panel *ngFor="let item of treeArray; let in=index">
        <mat-expansion-panel-header>
          {{item[in]?.element}}
        </mat-expansion-panel-header>

        <div *ngFor="let item2 of getChildsElementOfTree();let i= index">
        <div *ngIf="item[in]?.id==item2[i]?.parentId">


          <mat-expansion-panel >
            <mat-expansion-panel-header>
              {{item2[i]?.element}}
            </mat-expansion-panel-header>

            <div  >
            <div >
              {{item2[i+1]?.element}}
            </div>

            </div>

          </mat-expansion-panel>






        </div>
        </div>
      </mat-expansion-panel-->

<div class="row">

<div *ngFor="let item of treeArray">

  <button class="btn btn-primary" type="button" (click)="getChildsElementOfTree(item.id)" >
    {{item?.element}}
  </button>

  <br><br>

  <div *ngIf="isVisible>0" class="card card-body">


    <div *ngFor="let item2 of childTreeArray">
      <button class="btn btn-primary" type="button" (click)="getChildsElementOfTree(item2.id)" >
       +
      </button>
      <div *ngIf="isVisible>0" class="card card-body">
        {{item2?.element}}
      </div>
  </div>



  </div>



</div>

</div>



    </div>

    <!--div class="row">

      <div *ngFor="let item of treeArray; ">
        {{item?.element}}
        <div><br><br>
          <button (click)="getChildsElementOfTree(item.id)">+</button>
          <div *ngIf="isVisible>0">

            <div *ngFor="let item2 of childTreeArray; ">

              <div class="col-md-4">
              {{item2?.element}}

              <button (click)="getChildsElementOfTree(item2.id)">+</button>

              </div>


            </div>

            <br>
            <br>

          </div>

        </div>

      </div>
    </div-->



  </div>




</section>
<section class="container">

</section>
