@import "src/app/colors/colors";
li {
  list-style-type: none; /* Убираем маркеры */
  line-height: 1.6rem;
}
a{
  color: $light-grey;
}
ul{
  margin-left: 0;
  padding-left: 0;
  text-align: left;

  li:first-child{
    padding-bottom: 15px;
    color: $white;
    font-weight: 900;
    a{
      color: $white;
    }
  }
}
footer{
  margin-top: 50px;
  background-color: $grey;
  color: $light-grey;
}
.wrapper-content-footer{
  padding: 25px;
}
.content-footer{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  border-left: 3px solid $white;
  border-radius: 1px;
  -webkit-border-radius: 1px;

  div{
    //text-align: center;
  }
}
.join-us-footer{
  text-align: center;
  ul:first-child{
    li{
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  ul:last-child{
    li{
      display: inline;
      margin-right: 5px;
      padding: 3px;
    }
  }
}
