<footer class="col-lg-12 col-md-12">
  <div class="wrapper-content-footer container">
    <div class="content-footer row">
    <div class="col-lg-3">
      <ul>

      </ul>
    </div>
    <div class="col-lg-3">
      <ul>

      </ul>
    </div>
    <div class="col-lg-3">
      <ul>

      </ul>
    </div>
    <div class="col-lg-3 join-us-footer">
      <ul>

      </ul>
      <ul>

      </ul>
    </div>
    </div>
  </div>
</footer>
